<div class="container" style="max-width:970px;">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header">
        Achievement
        <small>Type of Achievement</small>
      </h1>
        <p class="lead">
        </p>
        <p><span class="glyphicon glyphicon-time"></span> Completed on August 28, 2013 at 10:00 PM</p>
        <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
      <hr>

      <ul class="pager">
        <li class="previous"><a href="#">&larr; Older</a></li>
        <li class="next"><a href="#">Newer &rarr;</a></li>
      </ul>
    </div>

    <div class="col-md-4">
      <div>
        <p><img src="https://www.mygamerprofile.net/card/greybar/mr+Budrow.png" style="width:293px;" /></p>
      </div>

      <div class="well">
        <h4>Friend Search(?)</h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <div class="well">
      <h4>Achievement Category</h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">Platinum</a></li>
              <li><a href="#">Gold</a></li>
              <li><a href="#">Silver</a></li>
              <li><a href="#">Bronze</a></li>
            </ul>
          </div>

          <div class="col-lg-6">
            <ul class="list-unstyled">
              <li><a href="#">N/A</a></li>
              <li><a href="#">N/A</a></li>
              <li><a href="#">N/A</a></li>
              <li><a href="#">N/A</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="well">
        <h4>Game Details</h4>
        <p>Synopsis, critics, ratings, etc.</p>
      </div>
    </div>
  </div>
</div>
