@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 225px;
}

footer {
    margin: 50px 0;
}

.navbar-inverse {
  background-color: white;
}

img.game-image {
  width: 150px;
}
